In [1]:
import numpy as np

In [2]:
import pandas as pd

In [80]:
data=pd.read_csv('train_data.csv')
data

,Investor_ID,Age,Annual_Income,Investment_Amount,Risk_Tolerance_Score,Months_of_Investing_Experience,Number_of_Active_Investments,Potential_Return_Rate,Investment_Duration,Investment_to_Income_Ratio,Education,Employment_Status,Marital_Status,Owns_Property,Has_Dependents,Investment_Sector,Has_Investment_Advisor,Investment_Failed
0,0003HW9UAA,51.0,NaN,87300.0,358,13,3.0,18.10,12,0.85,Bachelor's,Part-time,NaN,No,NO,Other,True,0
1,000ELHLBPV,37.0,81658.0,152598.0,792,23,4.0,14.06,24,0.86,PhD,Self-employed,NaN,Yes,No,Auto,False,1
2,000G6CHJON,NaN,NaN,77767.0,359,57,4.0,4.31,60,0.60,Master's,Unemployed,Married,No,No,Education,True,0
3,000K09D0JB,54.0,42344.0,13261.0,366,115,1.0,NaN,60,0.21,PhD,Part-time,Divorced,No,No,Education,True,0
4,000NTH4YTU,63.0,48898.0,193990.0,792,53,4.0,5.65,48,0.82,Master's,Self-employed,Married,Yes,No,Business,True,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225342,ZZZHT6VWO4,37.0,25394.0,NaN,527,12,2.0,NaN,24,0.17,Bachelor's,Unemployed,Married,Ye,Maybe,Education,False,1
225343,ZZZI5YOV9G,32.0,101616.0,101862.0,628,32,2.0,17.45,12,0.38,High School,Full-time,Single,Yes,no,Education,False,1
225344,ZZZMFPZFKE,NaN,102495.0,140375.0,764,82,4.0,23.82,24,0.63,High School,Full-time,Divorced,yes,No,Other,False,0
225345,ZZZV1HB132,69.0,143661.0,157929.0,407,38,4.0,6.07,60,0.33,Master's,Part-time,Divorced,Yes,Yes,Home,False,0
225346,ZZZX015LV2,65.0,114515.0,95500.0,820,45,4.0,8.87,48,0.13,High School,Full-time,Single,no,No,Business,False,0

In [103]:
#pd.read_csv('train_data.csv',skip_blank_lines=True,names=['Annual_Income','Investment_Amount','Risk_Tolerance_Score','Months_of_Investing_Experience','Number_of_Active_Investments','Potential_Return_Rate','Investment_Duration','Investment_to_Income_Ratio','Investment_Sector','Has_Investment_Advisor','Investment_Failed'])
data=pd.read_csv('train_data.csv',usecols=['Annual_Income','Investment_Amount','Risk_Tolerance_Score','Months_of_Investing_Experience','Number_of_Active_Investments','Potential_Return_Rate','Investment_Duration','Investment_to_Income_Ratio','Investment_Sector','Has_Investment_Advisor','Investment_Failed'])


data['Annual_Income'].fillna(data['Annual_Income'].median(),inplace=True)
data.dropna(inplace=True)
data

C:\Users\Basim Khalid\AppData\Local\Temp\ipykernel_25008\934753850.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Annual_Income'].fillna(data['Annual_Income'].median(),inplace=True)

,Annual_Income,Investment_Amount,Risk_Tolerance_Score,Months_of_Investing_Experience,Number_of_Active_Investments,Potential_Return_Rate,Investment_Duration,Investment_to_Income_Ratio,Investment_Sector,Has_Investment_Advisor,Investment_Failed
0,82908.0,87300.0,358,13,3.0,18.10,12,0.85,Other,True,0
1,81658.0,152598.0,792,23,4.0,14.06,24,0.86,Auto,False,1
2,82908.0,77767.0,359,57,4.0,4.31,60,0.60,Education,True,0
4,48898.0,193990.0,792,53,4.0,5.65,48,0.82,Business,True,0
5,30884.0,13057.0,455,17,3.0,22.69,48,0.70,Education,False,0
...,...,...,...,...,...,...,...,...,...,...,...
225341,118720.0,93079.0,619,51,1.0,5.41,60,0.65,Other,True,0
225343,101616.0,101862.0,628,32,2.0,17.45,12,0.38,Education,False,1
225344,102495.0,140375.0,764,82,4.0,23.82,24,0.63,Other,False,0
225345,143661.0,157929.0,407,38,4.0,6.07,60,0.33,Home,False,0
225346,114515.0,95500.0,820,45,4.0,8.87,48,0.13,Business,False,0

In [64]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 189719 entries, 0 to 225346
Data columns (total 11 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Annual_Income                   189719 non-null  float64
 1   Investment_Amount               189719 non-null  float64
 2   Risk_Tolerance_Score            189719 non-null  int64
 3   Months_of_Investing_Experience  189719 non-null  int64
 4   Number_of_Active_Investments    189719 non-null  float64
 5   Potential_Return_Rate           189719 non-null  float64
 6   Investment_Duration             189719 non-null  int64
 7   Investment_to_Income_Ratio      189719 non-null  float64
 8   Investment_Sector               189719 non-null  object
 9   Has_Investment_Advisor          189719 non-null  object
 10  Investment_Failed               189719 non-null  int64
dtypes: float64(5), int64(4), object(2)
memory usage: 17.4+ MB

In [104]:
uni=data['Investment_Sector'].unique()
uni

array(['Other', 'Auto', 'Education', 'Business', 'Home'], dtype=object)

In [108]:
from sklearn.preprocessing import LabelEncoder
encode=LabelEncoder()
data['Investment_Sector']=encode.fit_transform(data['Investment_Sector'])
#uni
pd.DataFrame(data)
data['Has_Investment_Advisor'].replace([True,False],[1,0],inplace=True)
data

C:\Users\Basim Khalid\AppData\Local\Temp\ipykernel_25008\871659021.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Has_Investment_Advisor'].replace([True,False],[1,0],inplace=True)
C:\Users\Basim Khalid\AppData\Local\Temp\ipykernel_25008\871659021.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['Has_Investment_Advisor'].replace([True,False],[1,0],inplace=True)

,Annual_Income,Investment_Amount,Risk_Tolerance_Score,Months_of_Investing_Experience,Number_of_Active_Investments,Potential_Return_Rate,Investment_Duration,Investment_to_Income_Ratio,Investment_Sector,Has_Investment_Advisor,Investment_Failed
0,82908.0,87300.0,358,13,3.0,18.10,12,0.85,4,1,0
1,81658.0,152598.0,792,23,4.0,14.06,24,0.86,0,0,1
2,82908.0,77767.0,359,57,4.0,4.31,60,0.60,2,1,0
4,48898.0,193990.0,792,53,4.0,5.65,48,0.82,1,1,0
5,30884.0,13057.0,455,17,3.0,22.69,48,0.70,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...
225341,118720.0,93079.0,619,51,1.0,5.41,60,0.65,4,1,0
225343,101616.0,101862.0,628,32,2.0,17.45,12,0.38,2,0,1
225344,102495.0,140375.0,764,82,4.0,23.82,24,0.63,4,0,0
225345,143661.0,157929.0,407,38,4.0,6.07,60,0.33,3,0,0
225346,114515.0,95500.0,820,45,4.0,8.87,48,0.13,1,0,0

In [119]:
inputdata=data.iloc[:,:10]
inputdata

,Annual_Income,Investment_Amount,Risk_Tolerance_Score,Months_of_Investing_Experience,Number_of_Active_Investments,Potential_Return_Rate,Investment_Duration,Investment_to_Income_Ratio,Investment_Sector,Has_Investment_Advisor
0,82908.0,87300.0,358,13,3.0,18.10,12,0.85,4,1
1,81658.0,152598.0,792,23,4.0,14.06,24,0.86,0,0
2,82908.0,77767.0,359,57,4.0,4.31,60,0.60,2,1
4,48898.0,193990.0,792,53,4.0,5.65,48,0.82,1,1
5,30884.0,13057.0,455,17,3.0,22.69,48,0.70,2,0
...,...,...,...,...,...,...,...,...,...,...
225341,118720.0,93079.0,619,51,1.0,5.41,60,0.65,4,1
225343,101616.0,101862.0,628,32,2.0,17.45,12,0.38,2,0
225344,102495.0,140375.0,764,82,4.0,23.82,24,0.63,4,0
225345,143661.0,157929.0,407,38,4.0,6.07,60,0.33,3,0
225346,114515.0,95500.0,820,45,4.0,8.87,48,0.13,1,0

In [120]:
outputdata=data.iloc[:,-1:]
outputdata

        Investment_Failed
0                       0
1                       1
2                       0
4                       0
5                       0
...                   ...
225341                  0
225343                  1
225344                  0
225345                  0
225346                  0

[189719 rows x 1 columns]

In [76]:
from sklearn.preprocessing import StandardScaler

In [77]:
scale=StandardScaler()

In [130]:
inputdata=scale.transform(inputdata)

In [116]:
inputdata

array([[ 3.00959045e-03, -5.61484003e-01, -1.28960139e+00, ...,
         1.51647484e+00,  1.41510144e+00,  9.96658527e-01],
       [-3.08856013e-02,  3.61499907e-01,  1.03760762e+00, ...,
         1.55976973e+00, -1.41784899e+00, -1.00335268e+00],
       [ 3.00959045e-03, -6.96232473e-01, -1.28423915e+00, ...,
         4.34102509e-01, -1.37377616e-03,  9.96658527e-01],
       ...,
       [ 5.34133687e-01,  1.88728424e-01,  8.87465106e-01, ...,
         5.63987189e-01,  1.41510144e+00, -1.00335268e+00],
       [ 1.65039726e+00,  4.36853321e-01, -1.02685198e+00, ...,
        -7.34859605e-01,  7.06863833e-01, -1.00335268e+00],
       [ 8.60069850e-01, -4.45577420e-01,  1.18775014e+00, ...,
        -1.60075747e+00, -7.09611385e-01, -1.00335268e+00]])

In [112]:
from sklearn.model_selection import train_test_split

In [124]:

traininput, testinput, trainoutput, testoutput = train_test_split(inputdata, outputdata, test_size=0.1)

In [131]:
traininput

,Annual_Income,Investment_Amount,Risk_Tolerance_Score,Months_of_Investing_Experience,Number_of_Active_Investments,Potential_Return_Rate,Investment_Duration,Investment_to_Income_Ratio,Investment_Sector,Has_Investment_Advisor
147374,123523.0,183116.0,347,14,3.0,18.29,24,0.38,4,0
170873,82908.0,203024.0,800,40,1.0,24.83,24,0.35,3,1
94646,119098.0,219651.0,603,24,4.0,10.56,12,0.48,1,0
18148,82908.0,71581.0,441,101,1.0,20.39,12,0.69,4,0
215884,64214.0,175845.0,582,49,4.0,13.45,24,0.82,2,1
...,...,...,...,...,...,...,...,...,...,...
209023,71456.0,131441.0,563,117,3.0,6.07,36,0.50,4,0
160854,41507.0,62322.0,451,61,3.0,6.79,60,0.68,4,1
160075,82908.0,109990.0,620,61,4.0,24.96,12,0.19,3,1
122964,127247.0,104071.0,355,70,1.0,11.70,36,0.27,0,0
24819,118695.0,98112.0,508,98,2.0,16.85,36,0.47,1,0

In [127]:
testinput

,Annual_Income,Investment_Amount,Risk_Tolerance_Score,Months_of_Investing_Experience,Number_of_Active_Investments,Potential_Return_Rate,Investment_Duration,Investment_to_Income_Ratio,Investment_Sector,Has_Investment_Advisor
95577,64337.0,73651.0,319,37,3.0,13.02,36,0.18,3,1
153639,99071.0,173076.0,683,92,2.0,2.60,48,0.89,2,0
65478,142269.0,228145.0,606,97,2.0,2.63,36,0.29,3,1
17947,104485.0,183910.0,499,83,1.0,16.99,60,0.22,4,1
122103,87267.0,93922.0,842,102,4.0,6.26,60,0.26,2,0
...,...,...,...,...,...,...,...,...,...,...
6281,97196.0,234389.0,814,40,4.0,18.36,12,0.50,4,1
94389,137534.0,118206.0,383,69,1.0,8.73,60,0.76,2,0
61728,82712.0,5515.0,824,18,2.0,11.97,24,0.30,0,0
183164,19708.0,44065.0,360,104,1.0,2.79,60,0.57,1,0
39382,82908.0,207017.0,509,111,1.0,10.02,60,0.15,2,1

In [128]:
trainoutput

        Investment_Failed
147374                  0
170873                  0
94646                   1
18148                   0
215884                  0
...                   ...
209023                  0
160854                  0
160075                  1
122964                  1
24819                   0

[170747 rows x 1 columns]

In [129]:
testoutput

        Investment_Failed
95577                   0
153639                  0
65478                   0
17947                   0
122103                  0
...                   ...
6281                    0
94389                   0
61728                   0
183164                  0
39382                   0

[18972 rows x 1 columns]

In [133]:
from sklearn.linear_model import LogisticRegression

In [134]:
logic=LogisticRegression()

In [136]:
logic.fit(traininput,trainoutput)

C:\Users\Basim Khalid\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1339: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Basim Khalid\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [137]:
predict=logic.predict(testinput)

In [138]:
predict

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [139]:
testoutput

        Investment_Failed
95577                   0
153639                  0
65478                   0
17947                   0
122103                  0
...                   ...
6281                    0
94389                   0
61728                   0
183164                  0
39382                   0

[18972 rows x 1 columns]

In [141]:
from sklearn.metrics import accuracy_score

In [148]:
accuracy=accuracy_score(predict,testoutput)*100
print(round(accuracy,2), '%')

91.36 %